body {
    font-family: 'Poppins', sans-serif;
}

span {
    color: orange;
}

section {
    display: flex;
    margin-top: 80;
}

.width {
    width: 50%;
    padding-left: 5%;

}

.width img {
    width: 45%;
}

.Button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, red);
    padding: 10px 20 px;
    border-radius: 5px;
}